.loader {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: sans-serif;
    font-size: 58px;
    font-weight: 600;
}